<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4026312901-bc0e1ergj9i81r4sdopgltg32mrfjk0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4026312901-bc0e1ergj9i81r4sdopgltg32mrfjk0n</string>
	<key>API_KEY</key>
	<string>AIzaSyA7xkNkcCflyiLlDApz4ybUJXBlqIov1Is</string>
	<key>GCM_SENDER_ID</key>
	<string>4026312901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wutsi.wutsiWallet</string>
	<key>PROJECT_ID</key>
	<string>wutsi-wallet-int</string>
	<key>STORAGE_BUCKET</key>
	<string>wutsi-wallet-int.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4026312901:ios:e1428d688b9f1bbdada8ac</string>
</dict>
</plist>